<ng-container *ngIf="examinationGroup">
  <div class="card my-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
      <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h2 class="text-white text-capitalize ps-3">{{ examinationGroup.name }} csoport vizsgálatai</h2>
          </div>
          <div class="col-lg-6 col-5 my-auto text-end">
            <button mat-raised-button tooltip="Vizsgálatok hozzárendelése" class="btn btn-light btn-lg mx-2" (click)="onAdd()"><i class="fa fa-plus"></i></button>
          </div>
        </div>

      </div>

    </div>
    <div class="card-body px-0 pb-2">
      <div class="table-responsive p-0">
        <table class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vizsgálat</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let examination of examinationGroup.examinations; first as isFirst; last as isLast;">
              <td class="ps-3"> {{examination.examination?.name}}</td>
              <td class="pe-3 text-end">
                <i class="fa fa-solid fa-chevron-up fa-fw me-2"
                  [ngClass]="{
                    'text-muted': isFirst,
                    'cursor-pointer': !isFirst
                  }"></i>
                  <i class="fa fa-solid fa-chevron-down fa-fw me-2"
                  [ngClass]="{
                    'text-muted': isLast,
                    'cursor-pointer': !isLast
                  }"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
