PORT=3000
LOG_LEVEL_FILE=info
LOG_LEVEL_CONSOLE=debug
SALT_WORK_FACTOR=10
JWT_EXPIRES=1h
REFRESH_EXPIRES=24h
JWT_SIGN_KEY=this---is--a-very--secret---signing--key--please--replace--it--with--something--very-random!!!!
REFRESH_SIGN_KEY=this---is--a-very--secret---REFRESH--key--please--replace--it--with--something--very-random!!!!