<h2 mat-dialog-title>{{ title }}</h2>
<div mat-dialog-content>
  <form [formGroup]="fb">

    <div class="card h-100 mb-1">
      <div class="card-header pb-0">
        <h3>Alapadatok</h3>
      </div>
      <div class="card-body p-3">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Megjegyzés</mat-label>
          <input matInput formControlName="comment" placeholder="Megjegyzés">
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Érkezés</mat-label>
          <input matInput formControlName="arrived" placeholder="Érkezés ideje">
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngIf="fb.get('examinations')" formArrayName="examinations" >
      <div [formGroupName]="i" class="card h-100" *ngFor="let exam of examGroups.controls; let i = index">
        <div class="card-header pb-0">

          <div class="row">
            <div class="col-lg-10 col-10">
              <h3>Vizsgálat1</h3>
            </div>
            <div class="col-lg-2 col-2 my-auto text-end">
              <mat-checkbox (change)="onRequiredChanged(i)" formControlName="required"></mat-checkbox>
            </div>
          </div>
        </div>
        <div class="card-body p-3">

          <div class="row">
            <div class="col-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Behívva</mat-label>
                <input matInput
                      formControlName="startedAt"
                      placeholder="Behívva">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Távozott</mat-label>
                <input matInput formControlName="finishedAt" placeholder="Távozott">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

  </form>

</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="fb.invalid">Mentés</button>
  <button mat-raised-button color="warn" mat-dialog-close>Bezárás</button>
</div>
