.page-header {
  background-image: url('../../../assets/img/setalo-login-unsplash.jpeg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  .card-header {
    margin-top: -40px;
    text-transform: uppercase;
  }

}
