<td *ngIf="rowSelectable" (click)="onCellClick()">
  <mat-icon color="{{ selectedRow ? 'primary' : 'basic' }}">{{ selectedRow ? 'check_circle' : 'radio_button_unchecked' }}</mat-icon>
</td>
<ng-container *ngFor="let column of columnDefinition">
  <td  *ngIf="column.visible"
      (click)="onCellClick()"
      [ngClass]="{
        'text-right': column.alignment === 'right',
        'text-center': column.alignment === 'center'
  }">
    <ng-container *ngIf="isBooleanColumn(entity[column.column])">
      <i class="fa" [ngClass]="{'fa-check-circle': entity[column.column],
                                'text-success': entity[column.column],
                                'fa-ban': !entity[column.column],
                                'text-danger': !entity[column.column]}"></i>
    </ng-container>
    <ng-container *ngIf="!isBooleanColumn(entity[column.column])">
      <span class="text-secondary text-xs font-weight-bold">{{ resolveObjProp(entity, column.column)}}</span>
    </ng-container>
</td>
</ng-container>

<td class="text-center" *ngIf="actionButtons.length">
  <a *ngFor="let button of actionButtons" tooltip="{{button.title}}"
    class="px-1 cursor-pointer" [routerLink]="" (click)="onCustomButtonClicked(button.eventId, entity)">
    <i class="fa {{button.icon}}" aria-hidden="true"></i>
  </a>
</td>
