<app-base-list [entities]="examinations$ | async" [columnDefinition]="columnDefinition" [actionButtons]="actionButtons"
  [title]="'Vizsgálatok'" [subTitle]="'Alapvizsgálatok minden rendeléshez'" [enableNewButton]=true
  (customButtonClicked)="onCustomButtonClicked($event)"></app-base-list>


  <div class="col-lg-6 col-5 my-auto text-end">
    <div class="dropdown float-lg-end pe-4">
      <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-ellipsis-v text-secondary"></i>
      </a>
      <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
        <li><a class="dropdown-item border-radius-md" href="javascript:;">Action</a></li>
        <li><a class="dropdown-item border-radius-md" href="javascript:;">Another action</a></li>
        <li><a class="dropdown-item border-radius-md" href="javascript:;">Something else here</a></li>
      </ul>
    </div>
  </div>
