<div class="row" *ngIf="consultation">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h2 class="text-white ps-3">{{ consultation.name }}</h2>
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <app-consultation-detail-buttons
              [isFinishedVisible]="isFinishedVisible"
              [isFullScreen]="isFullscreen"
              (eventOccures)="onHeaderButtonClicked($event)"
              ></app-consultation-detail-buttons>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table table-condensed table-bordered align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Név</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Utolsó mod</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Érkezés</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"
                    *ngFor="let column of consultation.examinations">{{ column.examination?.name }}</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Távozás</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of consultation.details | showLeavedPatients:isFinishedVisible"
                [ngClass]="{
                  'table-success': detail.leaved,
                  'table-warning': !detail.leaved && detail.alert === 1,
                  'table-danger': !detail.leaved && detail.alert === 2
                }"
              >
                <!-- Név, megjegyzés -->
                <td>
                  <div class="d-flex px-1 py-1">
                    <div class="d-flex flex-column flex-md-row justify-content-center">
                      <h6 class="mb-0 text-md font-weight-bolder">{{ detail.patient?.firstName }} {{ detail.patient?.lastName }}</h6>
                      <span class="text-sm d-inline text-secondary mb-0" *ngIf="detail.comment">{{ detail.comment }}</span>
                    </div>
                  </div>
                </td>
                <!-- Utolsó módosítás -->
                <td class="align-middle text-center text-sm">
                  <app-elapsed-time *ngIf="detail.lastUpdated && !detail.leaved"
                    [value]="detail.lastUpdated"
                    [reference]="now"></app-elapsed-time>
                </td>
                <!-- Érkezés -->
                <td class="align-middle text-center">
                  <span class="text-secondary text-sm font-weight-bold">{{ detail.arrived|dateToHHMM }}</span>
                </td>

                <!-- vizsgálatok -->
                <td class="align-middle text-center" *ngFor="let exam of detail.patientConsultations">
                  <div class="w-100 d-flex align-items-stretch">
                    <div class="w-100 text-muted text-sm" *ngIf="!exam.required">-- nem kell--</div>
                    <div class="w-50 text-secondary text-sm font-weight-bold" *ngIf="exam.required">{{ exam.startedAt|dateToHHMM }}</div>
                    <div class="w-50 text-secondary text-sm font-weight-bold" *ngIf="exam.required">{{ exam.finishedAt|dateToHHMM }}</div>
                  </div>
                </td>

                <!-- Távozás -->
                <td class="align-middle text-center">
                  <span class="text-secondary text-sm font-weight-bold">{{ detail.leaved|dateToHHMM }}</span>
                </td>
                <td class="align-middle text-center">
                  <mat-icon
                      tooltip="Szerkesztés"
                      class="cursor-pointer"
                      (click)="openEditDialog(detail)">edit_node</mat-icon>
                </td>

              </tr>
              <tr></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
