
/* some less restrictive definition, because when using sidebar and nav as component
* Adjacent sibling operators does not apply. */
app-sidebar + .main-content {
  margin-left: $navbar-vertical-open-width + 1.5;
}

@include media-breakpoint-down(xl) {

      .main-content {
        margin-left: 0 !important;
      }

}

.sidenav {
  z-index: 999; /* cause' original is greater than material dilog backdrop*/
}

.greenCheck {
  color: #4cbb17;
}

.mt-n4 {
  margin-top: -25px;
}


.dialog-responsive {
  width: 30%;
}

.dialog-responsive-big {
  width: 90%;
}

.bg-gradient-primary {
  background-image: linear-gradient(195deg, #90786b 0%, rgb(56, 44, 44) 100%);
}

@media only screen and (max-width: 760px) {
  .dialog-responsive, .dialog-responsive-big {
      width: 100%;
  }

}

/* Override sidebar and menu icon settings for setalo-body (requires fullscreen) */

.setalo-body {
  &.g-sidenav-show:not(.rtl):not(.g-sidenav-pinned) .sidenav {
    transform: translateX(-17.125rem);
  }

  app-sidebar + .main-content {
    margin-left: 0;
  }

  .nav-item {
    display: flex !important;
  }

}
